.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    gap: 2rem;

    .bg {
        width: 120dvw;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: -10dvw;
        z-index: -1;
        opacity: .1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .inputsWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        button {
            padding: 10px 0;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            opacity: .9;
            transition: all .3s;

            &:hover {
                opacity: 1;
            }

            &:active {
                opacity: .75;
                scale: .95;
            }
        }

        .inputWrapper {
            display: flex;
            width: 350px;
            justify-content: space-between;
            gap: 1rem;
        }

        .totalRarity {
            display: flex;
            gap: 1rem;
            align-items: flex-end;
            font-size: 16px;
            margin: 10px 0;

            .rarityLabel {
                font-weight: bold;
                margin-top: 5px;

                &>span {
                    padding: 2px 5px;
                    border-radius: 5px;
                }

                .common {
                    color: gray;
                    background-color: lightgray;
                }

                .uncommon {
                    color: green;
                    background-color: lightgreen;
                    box-shadow: 0 0 10px green;
                }

                .rare {
                    color: blue;
                    background-color: lightblue;
                    box-shadow: 0 0 10px blue;
                }

                .epic {
                    color: purple;
                    background-color: violet;
                    box-shadow: 0 0 10px purple;
                }

                .legendary {
                    color: darkgoldenrod;
                    background-color: lightgoldenrodyellow;
                    box-shadow: 0 0 10px gold;
                }
            }

        }
    }
}

#capture {
    width: 1000px;
    /* or any desired width */
    height: 1000px;
    /* or any desired height */
    overflow: visible;
    /* Ensure content isn't cut off */
}